.page {
    margin: 0 auto;
    width: 960px;
    border-bottom: 5px solid black;
    background-color: white;
}
.name {
    color: #ffffff;
    background-color: #4aaaa5;
    float: left;
    padding: 3%;
    margin: 0;
}
.sitenav {
    float: right;
}
.sitenav, li {
    display: inline;
}
.main-about {
    clear: both;
    width: 650px;
    margin-right: 0;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border: 1px solid black;
    padding-left: 5px;
}
footer {
    text-align: center;
    clear: both;
    padding: 50px 0;
    border-top: 5px solid teal;
    background-color: slategrey;
}
.sidebar {
    width: 250px; 
    float: right;
    margin-right: 0;
    background-color: white;
    margin-top: 20px;
    border: 1px solid black;
    padding-left: 5px;
}
.imgme {
    float: left;
    padding-right: 30px;
}
.clearfix::after{
    Content: "";
    Display: block;
    Clear: both;
}
.img {
    height: 25%;
    width: 25%;
    display: inline-block;

}
.title {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.imagelist {
    margin: 0;
    padding: 0;
    height: 75%;

}
.img {
    width: 45%;
}

body {
    background-color: lightgrey;
}

ul {
    padding-left: 0px;
}

@media screen and (max-width: 980px) {
.main-about {
    width: 50%;
}
.sidebar {
    width: 30%;
}

}

@media screen and (max-width: 768px) {

.sidebar {
    width: 80%;

}

.main-about {
    width: 80%;
}
}

@media screen and (max-width: 640px) {

}